.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.list-inline {
  padding-left: 0;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

div {
  display: block;
}

body {
  background: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
  display: block;
  margin: 8px;
}

.container {
  width: 500px;
  margin: 30px auto;
}

a:hover {
  color: green
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: auto;
}

h1 {
  color: #DD5555;
  font-size: 30px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  display: block;
}

h2 {
  font-size: 18px;
  font-weight: 500;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
}

.list-inline li i {
  font-size: 25px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  font-variant: normal normal;
  white-space: normal;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}

#food td {
  padding: 10px;
}

#food {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#food {
  padding: 10px;
}

#food img {
  width: 80px;
  border-radius: 5px;
}
p{
  text-align: justify;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#img-profile {
    width: 100px;
    height: 100px;
    border: 3px solid #cccccc;
}

.img-circle {
    border-radius: 50%;
}

.fa-heart{
  color: #DD5555;
}
.fa-share{
  color: #DD5555;
}
.fa-star{
  color: #DD5555;
}
